<mat-card class="login-card">
  <h2 class="centered-title">Forgot Password</h2>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="centered-form">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Enter your email" />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="centered-button">Send Reset Link</button>
  </form>

  <div class="footer">
    <a mat-button routerLink="/login" class="back-to-login">Back to Login</a>
  </div>
</mat-card>