<mat-card class="forgot-card">
  <div class="info-section">
    <h1>Forgot Password</h1>
    <p>Enter your email to receive a reset link</p>
  </div>
  <div class="forgot-section">
    <h2 class="centered-title">Forgot Password</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Enter your email" />
        <mat-error *ngIf="submitted && hasError('email', 'required')">Email is required.</mat-error>
        <mat-error *ngIf="submitted && hasError('email', 'email')">Invalid email format.</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Send Reset Link</button>
    </form>

    <div class="footer">
      <div class="signup-link">
        <span>Do you want? </span>
        <a mat-button routerLink="/auth/login" class="sign-up">Login</a>
      </div>
    </div>
  </div>
</mat-card>
