<mat-card class="signup-card">
  <div class="info-section">
    <h1>Welcome to Sign Up Page</h1>
    <p>Create a new account to get started</p>
  </div>
  <div class="signup-section">
    <h2 class="centered-title">Sign Up</h2>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Enter your email" />
        <mat-error *ngIf="submitted && hasError('email', 'required')">Email is required.</mat-error>
        <mat-error *ngIf="submitted && hasError('email', 'email')">Invalid email format.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Create a password" />
        <mat-error *ngIf="submitted && hasError('password', 'required')">Password is required.</mat-error>
        <mat-error *ngIf="submitted && hasError('password', 'minlength')">Password must be at least 6 characters long.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm your password" />
        <mat-error *ngIf="submitted && hasError('confirmPassword', 'required')">Confirming your password is required.</mat-error>
        <mat-error *ngIf="submitted && hasError('confirmPassword', 'mismatch')">Passwords do not match.</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Sign Up</button>
    </form>

    <div class="footer">
      <a mat-button routerLink="/auth/login" class="back-to-login">Already have an account? Login</a>
    </div>
  </div>
</mat-card>
